.about-container {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 4px black solid;
}

.about-container p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2; /* Makes the text double spaced */
    margin-top: 10px; /* Optional: Adds space between the paragraph and other elements */
  }