.about-container {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 4px black solid;
}

.about-container p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2; 
    margin-top: 10px;
  }