.contact-head {
  padding-top: 20px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
  background-color: lemonchiffon;
  color: black;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  max-width: 600px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.contact-head:hover {
  transform: scale(1.05);
}

label {
  display: inline-block;
  padding: 8px 20px;
  background-color: lemonchiffon;
  color: #07074d;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
}

label:hover {
  transform: scale(1.05);
}

.submit-button {
  display: block;
  margin: 0 auto;
  color: black;
  background-color: lemonchiffon;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  outline: 3px solid gold;
  outline-offset: 5px;
  padding: 12px 40px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
  text-transform: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.submit-button:hover {
  background-color: gold;
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 480px) {
  .contact-head {
    width: 90%;
    padding: 15px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  label {
    font-size: 16px;
    padding: 6px 15px;
  }

  .submit-button {
    width: 100%;
    font-size: 14px;
    padding: 12px 0;
  }
}

/* Tablet (medium screens) */
@media (max-width: 768px) {
  .contact-head {
    width: 85%;
    font-size: 20px;
    padding: 20px;
  }

  label {
    font-size: 17px;
    padding: 8px 18px;
  }

  .submit-button {
    width: 90%;
    font-size: 15px;
    padding: 12px 35px;
  }
}

/* Desktop (larger screens) */
@media (min-width: 1024px) {
  .contact-head {
    width: 80%;
    padding: 20px;
    font-size: 24px;
  }

  label {
    font-size: 18px;
    padding: 8px 20px;
  }

  .submit-button {
    font-size: 16px;
    padding: 12px 40px;
  }
}
